@font-face {
  font-family: "HelveticaRegular";
  src: url(../fonts/HelveticaRegular.woff);
}
@font-face {
  font-family: "HelveticaBold";
  src: url(../fonts/HelveticaBold.woff);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "bebas-neue";
  src: url(../fonts/bebas-neue.woff);
  font-style: normal;
  font-weight: normal;
}
html{
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "HelveticaRegular";
}
.content {
  position: relative;
}
/*------------------header----------------------*/

.header{
  height: 118px;
  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #e1e1e1 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%,#e1e1e1 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#e1e1e1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 );
  border-bottom: 1px solid #cccccc;
}
.wrapper{
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  // border: 1px solid red;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
  margin-left: 30px;
}
.menu{
  display: flex;
  height: 100%;
  a {
    text-decoration: none;
  }
}

.list{
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid orangered;
}
.list::after{
  content: "";
  display: block;
  width: 1px;
  height: 100%;
  background: rgb(227,227,227);
  background: -moz-linear-gradient(top, rgba(227,227,227,1) 0%, rgba(182,182,182,1) 100%);
  background: -webkit-linear-gradient(top, rgba(227,227,227,1) 0%,rgba(182,182,182,1) 100%);
  background: linear-gradient(to bottom, rgba(227,227,227,1) 0%,rgba(182,182,182,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e3e3e3', endColorstr='#b6b6b6',GradientType=0 );
}
.list:last-child::after{
  display: none;
}
.list_wrap{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  // border: 1px solid blueviolet;
}
.list_img {
  padding-bottom: 6px;
}
.list_title{
  font-size: 16px;
  line-height: 1.438;
  color: rgb(84, 84, 84);
  text-shadow: 1px 1px 0px white;
}
.active {
  padding-top: 5px;
  border-bottom: 5px solid #ff7d00;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgb(255,255,255) 0%, rgb(203,194,194) 100%);
  background: -webkit-linear-gradient(top, rgb(255,255,255) 0%,rgb(203,194,194) 100%);
  background: linear-gradient(to bottom, rgb(255,255,255) 0%,rgb(203,194,194) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cbc2c2',GradientType=0 );
}

/*-----------------center-------------------------*/

.select {
  font-family: "HelveticaBold";
  display: flex;
  flex-direction: column;
  width: 675px;
  margin: 0 auto;
}
.select_caption {
  font-size: 28px;
  color: #565555;
  margin: 42px 0 33px 0;
}
.select_buttons {
  display: flex;
}
.select_buttons_search{
  position: relative;
}
.select_buttons_input {
  width: 450px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid #cacaca;
  box-shadow: inset 0px 4px 5px #e2dada;
}
.select_buttons_browse {
  position: absolute;
  height: 33px;
  width: 94px;
  top: 8px;
  right: 10px;
  color: white;
  background-color: #c1bfbf;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
}
.select_buttons_submit {
  margin-left: 16px;
  height: 47px;
  width: 210px;
  border-radius: 5px;
  border: 0px solid transparent;
  color: white;
  font-size: 24px;
  cursor: pointer;
  background: rgb(255,164,0);
  background: -moz-linear-gradient(top, rgb(255,164,0) 0%, rgb(255,103,0) 100%);
  background: -webkit-linear-gradient(top, rgb(255,164,0) 0%,rgb(255,103,0) 100%);
  background: linear-gradient(to bottom, rgb(255,164,0) 0%,rgb(255,103,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa400', endColorstr='#ff6700',GradientType=0 );
}
.gallery {
  margin: 0 auto;
  margin-top: 73px;
  display: flex;
  flex-wrap: wrap;
  max-width: 1024px;
}
.gallery_item {
  width: 218px;
  height: 280px;
  border: 1px solid #d6d6d6;
  margin: 0 18px 25px 18px;
  font-family: "HelveticaRegular";
  color: #9e9a9a;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 3px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgb(255,255,255) 97%, rgb(232,232,232) 100%);
  background: -webkit-linear-gradient(top, rgb(255,255,255) 97%,rgb(232,232,232) 100%);
  background: linear-gradient(to bottom, rgb(255,255,255) 97%,rgb(232,232,232) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e8e8e8',GradientType=0 );
}
.item_image {
  margin-top: 7px;
  position: relative;
  &:hover .loupe {
    display: block;
  }
}
.image_data {
  position: absolute;
  bottom: 6px;
  left: 9px;
  font-family: "bebas-neue";
  font-size: 19px;
  color: #d6d5d5;
}
.loupe{
  position: absolute;
  top: 45%;
  left: 45%;
  display: none;
}
.item_title {
  display: flex;
  margin-top: 5px;
  margin-bottom: 2px;
}
.title_text {
  font-size: 15px;
}
.title_star{
  margin-left: 20px;
}
.item_social {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 193px;
  font-size: 14px;
  border-top: 1px solid #e0dfdf;
  padding-top: 5px;
  position: relative;
}
.social_text {
  padding-right: 7px;
}
.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
  border: 0px transparent;
  border-radius: 50%;
  background: #b1aeae;
  margin-left: 5px;
    &:hover {
    background: #283e8f;
  }
  z-index: 500;
}
.twitter {
  position: absolute;
  top: 5px;
  left: 47px;
  display: none;
}
.facebook {
  position: absolute;
  top: 5px;
  left: 75px;
  display: none;
}
.pinterest {
  position: absolute;
  top: 5px;
  left: 102px;
  display: none;
}
.tumblr {
  position: absolute;
  top: 5px;
  left: 129px;
  display: none;
}
.active1 {
  display: block;
}
.pop_up {
  margin: 30px;
  font-family: "HelveticaRegular";
  font-size: 13px;
  background: black;
  color: white;
  width: 125px;
  padding: 4px 0px 4px 10px;
  position: relative;
  &::before {
  content: '';
  position: absolute;
  left: 15px;
  top: -16px;
  border: 8px solid transparent;
  border-bottom:8px solid black;
  }
}

/*-------------footer-----------*/

.footer {
  display: flex;
  justify-content: flex-end;
  color: #8b8a8a;
  max-width: 1024px;
  margin: 30px auto 50px auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding-right: 64px;
}
.overlay {
  width: 100%;
  height: 100%;
  background: #2b2a2a;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5000;
  display: none;
}

.clone {
  position: fixed;
  top: 10vh;
  left:60vh;
  z-index: 6000;
  // margin: auto;
}








